section.CoursesSection {
  padding-left: 0;
  padding-right: 0;
}

.Courses {
  display: grid;
  justify-items: start;
  overflow-x: scroll;

  &Inner {
    padding-left: var(--gap-lg);
    padding-right: var(--gap-lg);
    display: flex;
    gap: var(--gap-lg);
  }
}

.Course.Course.Course {
  $width-normal: 30rem;
  $width-active: 60rem;

  position: relative;
  width: 35rem;
  height: 45rem;
  border-radius: var(--bd-radius);
  border: 1px solid var(--c-panel-bd);
  overflow: hidden;
  display: inline-block;
  padding: var(--gap-lg);

  background: transparent;

  display: grid;
  align-content: start;
  justify-content: start;

  &:hover,
  &:focus-visible {
    filter: unset;
  }
}

.Course {
  &:hover > &Image,
  :focus-visible > &Image {
    scale: 1.05;
  }

  &Image {
    object-fit: cover;
    transition: scale 0.2s ease;
  }

  &Content {
    position: relative;
    line-height: 1;

    display: grid;
    gap: 0.5rem;
  }

  &Content > :global(.header) {
    font-size: 2.5rem;
  }

  &List {
    display: flex;
    gap: var(--gap-sm);
    list-style: none;
  }

  &ListItem {
    background-color: var(--c-panel-bg);
    border: 1px solid var(--c-panel-bd);
    font-size: 1.25rem;
    color: var(--txt-text);
    padding: 0.5rem 1rem;
    border-radius: 22rem;
    backdrop-filter: blur(10px);
  }
}
