.Light {
  position: absolute;
  left: 50%;

  &--up {
    top: 0;
    translate: -50% -50%;
  }

  &--up &1 {
    top: 0;
    translate: -50% 0%;
  }

  &--up &3 {
    top: 0;
    translate: 50% 0%;
  }

  &--down {
    bottom: 0;
    translate: -50% 50%;
  }

  &--down &1 {
    translate: -50% 0%;
  }

  &--down &3 {
    translate: 50% -100%;
  }

  &1,
  &2,
  &3 {
    display: block;
    background-color: currentColor;
  }

  &1,
  &3 {
    height: auto;
    aspect-ratio: 1;
    position: absolute;
    rotate: 45deg;
  }

  &1 {
    left: 0;
  }

  &2 {
  }

  &3 {
    right: 0;
  }
}
