// NOTE: Be careful with margins, since it may affect latex

.Formatted {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-size: 1.6rem;
  min-height: 70rem;
  max-width: 100rem;

  display: grid;
  align-content: start;

  h1,
  h2,
  h3 {
    color: var(--txt-title);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
    margin-top: 1.37em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.37em;
  }

  h3 {
    font-size: 1em;
  }

  ul,
  ol {
    padding-inline-start: 1.37em;
  }

  ul,
  ol,
  p {
    font-weight: var(--font-weight-thin);
  }

  *:not(:first-child):not(span) {
    margin-top: 0.75em;
  }

  p:global(.latex) {
    font-size: 1.5em;
    text-align: center;
    justify-self: center;
  }

  figure {
    position: relative;
    font-size: var(--font-size-text);
    justify-self: center;
    margin: 2em 0 !important;

    display: grid;
    justify-items: center;

    & > img {
      max-width: 40em;
      width: 100%;
      height: auto;
      border-radius: var(--bd-radius);
      border: 0.1rem solid var(--c-panel-bd);
      display: block;
    }

    & > figcaption {
      text-align: center;
      font-style: italic;
      font-size: inherit;
      margin-top: 0.37em;
    }
  }

  :global(.video) {
    justify-self: center;
    display: grid;
    justify-items: center;
    margin: 2em 0 !important;

    video {
      display: block;
      max-width: 40em;
      width: 100%;
      height: auto;
      border-radius: var(--bd-radius);
      overflow: hidden;
      border: 0.1rem solid var(--c-panel-bd);
    }
  }
}
