// NOTE: Be careful with margins, since it may affect latex

.Formatted {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 70rem;
  max-width: 100rem;

  display: grid;
  align-content: start;

  h1,
  h2,
  h3 {
    color: var(--txt-title);
    font-weight: var(--font-weight-bold);
    text-transform: capitalize;
    margin-top: 2em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.37em;
  }

  h3 {
    font-size: 1em;
  }

  ul,
  ol {
    padding-inline-start: 1.37em;
  }

  ul,
  ol,
  p,
  figure,
  :global(.video) {
    font-weight: var(--font-weight-thin);
  }

  *:not(:first-child):not(
      h1,
      h2,
      h3,
      span,
      figure,
      :global(.video),
      :global(.cols),
      :global(.latex),
      :global(.table),
      :global(.table-row),
      :global(.table-cell)
    ) {
    margin-top: 0.75em;
  }

  p:global(.latex) {
    text-align: center;
    font-size: 1.5em;
    justify-self: center;
    margin: 1.5em 0;
  }

  figure,
  :global(.video),
  :global(.table) {
    margin: 1em 0;
  }

  figure {
    position: relative;
    font-size: var(--font-size-text);

    display: grid;
    justify-items: center;
    align-content: start;

    & > img {
      // max-width: 50em;
      width: 100%;
      height: auto;
      border-radius: var(--bd-radius);
      border: 0.1rem solid var(--c-panel-bd);
      display: block;
    }

    & > figcaption {
      text-align: center;
      font-style: italic;
      font-size: inherit;
      margin-top: 0.37em;
    }
  }

  :global(.video) {
    display: grid;
    justify-items: center;
    align-content: start;

    video {
      display: block;
      // max-width: 50em;
      width: 100%;
      height: auto;
      border-radius: var(--bd-radius);
      overflow: hidden;
      border: 0.1rem solid var(--c-panel-bd);
    }

    & > figcaption {
      text-align: center;
      font-style: italic;
      font-size: inherit;
      margin-top: 0.37em;
    }
  }

  :global(.cols) {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1em;
    margin: 1em 0;

    :global(.col) {
      display: grid;
      justify-content: center;

      grid-row: 1 / span 1;

      &,
      & > * {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  :global(.table) {
    display: block;
    overflow-x: auto;
    position: relative;
    max-width: 100%;

    :global(.table-content) {
      display: inline-block;
      overflow: hidden;

      border: 0.1rem solid var(--c-panel-bd);
      border-radius: var(--bd-radius);
      text-align: center;
    }

    :global(.table-header) {
      background-color: var(--c-panel-bg);
      color: var(--txt-title);
    }

    :global(.table-row) {
      display: grid;

      &:not(:last-child) {
        border-bottom: 0.1rem solid var(--c-panel-bd);
      }
    }

    :global(.table-cell) {
      padding: var(--gap-sm) var(--gap-md);

      display: grid;
      align-items: center;
      grid-row: 1 / span 1;

      &:not(:last-child) {
        border-right: 0.1rem solid var(--c-panel-bd);
      }
    }
  }
}
