.Formatted {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-size: 1.6rem;
  min-height: 70rem;
  max-width: 100rem;

  display: grid;
  align-content: start;

  h1,
  h2,
  h3 {
    color: var(--txt-title);
    font-weight: var(--font-weight-bold);
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.37em;
  }

  h3 {
    font-size: 1em;
  }

  ul,
  ol {
    padding-inline-start: 1.37em;
  }

  ul,
  ol,
  p {
    font-weight: var(--font-weight-normal);
  }

  *:not(:first-child):not(li) {
    margin-top: 0.37em;
  }

  *:not(:last-child):not(li) {
    margin-bottom: 0.37em;
  }

  p:global(.latex) {
    font-size: 1.5em;
    text-align: center;
    margin: 1em auto !important;
    justify-self: center;
  }

  figure {
    position: relative;
    max-width: 60rem;
    width: 100%;
    font-size: var(--font-size-text);
    margin: 0.63em auto !important;
    justify-self: center;

    & > img {
      width: 100%;
      height: auto;
      border-radius: var(--bd-radius);
      border: 0.1rem solid var(--c-panel-bd);
      display: block;
    }

    & > figcaption {
      text-align: center;
      font-style: italic;
      font-size: inherit;
      margin-top: 0.37em;
    }
  }

  video {
    max-width: 60rem;
    width: 100%;
    height: auto;
    margin: 0.63em auto !important;
    border-radius: var(--bd-radius);
    border: 0.1rem solid var(--c-panel-bd);
    justify-self: center;
  }
}
