@import "@/sass/abstracts/mixins";

.Button {
  position: relative;
  border: none;
  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);

  color: var(--txt-title);
  background: var(--c-orange);
  border-radius: var(--bd-radius);
  text-transform: lowercase;

  transition: filter 0.2s ease;

  &.size-small {
    padding: 0.25rem 1rem;
    font-size: 1.35rem;
    font-weight: var(--font-weight-bold);
  }

  &.size-normal {
    padding: 0.75rem 1.75rem;
    font-size: 1.7rem;
    font-weight: var(--font-weight-bold);
  }

  &.size-large {
    padding: 1rem 2.25rem;
    font-size: 1.95rem;
    font-weight: var(--font-weight-bold);
  }

  &:hover,
  &:focus-visible {
    filter: brightness(1.1);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.75;
  }

  & .children {
    display: flex;
    gap: inherit;
    align-items: center;
    justify-content: center;
  }

  & > svg,
  & .children > svg {
    width: 1em;
    height: 1em;
  }

  & {
    &--blue {
      background: var(--c-blue);
    }

    &--green {
      background: var(--c-green);
    }

    &--red {
      background: var(--c-red);
    }

    &--white {
      background: white;
      color: var(--c-orange);

      &:hover,
      &:focus-visible {
        filter: brightness(0.95);
      }
    }
  }

  &Shiny {
    &,
    &:link,
    &:visited {
      transition: filter 0.5s ease, box-shadow 0.5s ease;

      @include shiny(orange, 100%);

      box-shadow: 0rem -1rem 1.75rem -1.25rem rgba(var(--c-orange-rgb), 0.5),
        0 1rem 1.75rem -1.25rem rgba(var(--c-orange-rgb), 0.5);

      &:hover,
      &:focus-visible {
        box-shadow: 0rem -1rem 1.75rem -1.25rem rgba(var(--c-orange-rgb), 1),
          0 1rem 1.75rem -1.25rem rgba(var(--c-orange-rgb), 1);
      }
    }

    &--blue,
    &--blue:link,
    &--blue:visited {
      @include shiny(blue, 100%);

      box-shadow: 0rem -1rem 1.75rem -1.25rem rgba(var(--c-blue-rgb), 0.5),
        0 1rem 1.75rem -1.25rem rgba(var(--c-blue-rgb), 0.5);

      &:hover,
      &:focus-visible {
        box-shadow: 0rem -1rem 1.75rem -1.25rem rgba(var(--c-blue-rgb), 1),
          0 1rem 1.75rem -1.25rem rgba(var(--c-blue-rgb), 1);
      }
    }

    &--green,
    &--green:link,
    &--green:visited {
      @include shiny(green, 100%);

      box-shadow: 0rem -1rem 1.75rem -1.25rem rgba(var(--c-green-rgb), 0.5),
        0 1rem 1.75rem -1.25rem rgba(var(--c-green-rgb), 0.5);

      &:hover,
      &:focus-visible {
        box-shadow: 0rem -1rem 1.75rem -1.25rem rgba(var(--c-green-rgb), 1),
          0 1rem 1.75rem -1.25rem rgba(var(--c-green-rgb), 1);
      }
    }

    &--red,
    &--red:link,
    &--red:visited {
      @include shiny(red, 100%);

      box-shadow: 0rem -1rem 1.75rem -1.25rem rgba(var(--c-red-rgb), 0.5),
        0 1rem 1.75rem -1.25rem rgba(var(--c-red-rgb), 0.5);

      &:hover,
      &:focus-visible {
        box-shadow: 0rem -1rem 1.75rem -1.25rem rgba(var(--c-red-rgb), 1),
          0 1rem 1.75rem -1.25rem rgba(var(--c-red-rgb), 1);
      }
    }
  }

  &Glass {
    &,
    &:link,
    &:visited {
      @include glass(orange, var(--bd-radius), true);
      backdrop-filter: blur(10px);
    }

    &--white,
    &--white:link,
    &--white:visited {
      @include glass(white, var(--bd-radius), true);
    }

    &--red,
    &--red:link,
    &--red:visited {
      @include glass(red, var(--bd-radius), true);
    }
  }

  &Text {
    &.size-small,
    &.size-normal,
    &.size-large {
      padding: 0;
    }

    &,
    &Text:link,
    &Text:visited {
      display: inline-block;
      padding: 0;
      color: var(--txt-text);
      background: transparent;
      font-weight: var(--font-weight-normal);
      font-size: var(--font-size-text);

      transition: color 0.2s ease;

      &:hover,
      &:focus-visible {
        color: var(--c-orange);
      }
    }
  }

  &Nav {
    &.size-small,
    &.size-normal,
    &.size-large {
      padding: 0;
    }

    &,
    &:link,
    &:visited {
      transition: color 0.2s, text-shadow 0.2s;

      text-transform: lowercase;
      color: var(--txt-text);
      background: transparent;

      &:hover,
      &:focus-visible {
        color: var(--txt-title);
      }
    }

    &--orange,
    &--orange:link,
    &--orange:visited {
      &:hover,
      &:focus-visible {
        color: var(--c-orange);
        text-shadow: 0 0 3rem var(--c-orange);
      }
    }
  }

  &Border {
    &,
    &:link,
    &:visited {
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;

      height: 4rem;
      width: 4rem;
      border-radius: 100%;

      $color: rgba(white, 0.3);
      border: 1px solid $color;
      color: $color;
      background: transparent;

      &:hover,
      &:focus-visible {
        background: rgba(white, 0.1);
        color: var(--txt-text);
      }
    }

    &--orange,
    &--orange:link,
    &--orange:visited {
      $color: rgba(var(--c-orange-rgb), 0.6);
      border: 1px solid $color;
      color: $color;
      background: transparent;

      &:hover,
      &:focus-visible {
        $color: rgba(var(--c-orange-rgb), 0.8);
        border-color: $color;
        background: $color;
        color: var(--bg-flat);
      }
    }

    &--red,
    &--red:link,
    &--red:visited {
      $color: rgba(var(--c-red-rgb), 0.6);
      border: 1px solid $color;
      color: $color;
      background: transparent;

      &:hover,
      &:focus-visible {
        $color: rgba(var(--c-red-rgb), 0.8);
        border-color: $color;
        background: $color;
        color: var(--bg-flat);
      }
    }
  }

  &Icon {
    &.size-small,
    &.size-normal,
    &.size-large {
      padding: 0;
    }

    &,
    &:link,
    &:visited {
      display: flex;
      color: var(--txt-text);
      background: transparent;
      font-weight: var(--font-weight-normal);
      font-size: var(--font-size-text);
      gap: 0.5rem;

      transition: color 0.2s ease, gap 0.2s ease;

      &:hover,
      &:focus-visible {
        color: var(--c-orange);
        gap: var(--gap-sm);
      }
    }
  }

  &Transparent {
    &.size-small,
    &.size-normal,
    &.size-large {
      padding: 0;
    }

    &.size-small {
      font-size: 2rem;
    }

    &.size-normal {
      font-size: 3rem;
    }

    &.size-large {
      font-size: 4.5rem;
    }

    &,
    &:link,
    &:visited {
      color: var(--txt-text);
      background: transparent;

      transition: color 0.2s ease;

      &:hover,
      &:focus-visible {
        color: var(--txt-title);
      }
    }
  }
}
