.Outer {
  display: grid;
  transition: grid-template-rows 0.5s ease, grid-template-columns 0.5s ease;

  &--vertical {
    grid-template-rows: 0fr;

    &.revealed {
      grid-template-rows: 1fr;
    }

    & > .Inner {
      grid-row: 1 / span 2;
    }
  }

  &--horizontal {
    grid-template-columns: 0fr;

    &.revealed {
      grid-template-columns: 1fr;
    }

    & > .Inner {
      grid-column: 1 / span 2;
    }
  }
}

.Inner {
  overflow: hidden;
}
