.DocumentModal {
  padding: var(--gap-lg);
  background-color: var(--bg-flat-l);
  border: 1px solid var(--c-panel-bd);
  border-radius: var(--bd-radius);

  width: 50rem;

  display: grid;
  gap: var(--gap-lg);

  &Form {
    width: 100%;
    position: relative;
  }

  &Actions {
    display: flex;
    justify-content: flex-end;
  }
}
