@import "@/sass/abstracts/mixins";

.Header {
}

.ProfileSections {
  display: grid;
  gap: var(--gap-lg);
  padding: 0 var(--gap-lg);

  @include respond(500px) {
    padding: 10rem var(--gap-lg);
  }
}

section.ProfileSection {
  padding: 0;
  gap: var(--gap-md);
}
