.Price {
  display: grid;
  gap: var(--gap-lg);
  grid-template-columns: 25rem 45rem;

  &Header {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: var(--gap-sm);
    aspect-ratio: 1;

    padding: var(--gap-lg);
    border-radius: var(--bd-radius);
    border: 0.1rem solid rgba(var(--c-orange-rgb), 0.3);
    background-image: radial-gradient(
      circle at 50% 75%,
      rgba(var(--c-orange-rgb), 0.3),
      transparent
    );
  }

  &Cost {
    line-height: 1;

    & > *:nth-child(2) {
      font-size: 5rem;
    }

    & > span {
      color: var(--txt-text);
    }
  }

  &Content {
    display: grid;
    align-items: center;
  }

  .Benefits {
    display: grid;
    gap: var(--gap-md);
  }

  .Benefit {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: inherit;
    align-items: center;

    &Icon {
      font-size: 3rem;
      line-height: 1;
      color: var(--c-orange);
      filter: drop-shadow(0 0 2rem rgba(var(--c-orange-rgb), 0.8));
    }
  }
}
