.Actions {
  position: relative;
  display: grid;
  justify-content: end;

  margin: -1rem 0;

  &List:hover,
  &List:focus-within,
  & > button:hover + &List,
  & > button:focus-visible + &List {
    opacity: 1;
    visibility: visible;
  }

  & > button.ActionsButton {
    padding: 0;
    background: transparent;
    border-color: transparent;

    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;

    &:hover,
    &:focus-visible {
      background: var(--c-panel-bg);
    }
  }

  &List {
    position: absolute;
    right: 100%;
    top: 50%;
    translate: 0 -50%;
    list-style: none;
    background: var(--c-panel-bg);
    backdrop-filter: blur(10px);
    border-radius: 22rem;
    border: 1px solid var(--c-panel-bd);
    z-index: 1;
    padding: 0.25rem;

    display: flex;
    gap: 0.5rem;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.2s ease, visibility 0.2s ease;
  }

  &ListItem {
    justify-self: unset;
    display: grid;
  }

  & > &List > &ListItem > button {
    border: none;
    border-radius: 0;
    aspect-ratio: 1;
    border-radius: 100%;
    padding: 0.6rem;

    &:not(:hover) {
      background: transparent;
    }
  }
}
