@import "@/sass/abstracts/mixins";

$padding: var(--gap-lg);

section.AccountSection {
}

.Account {
  display: grid;
  grid-template-columns: 17.5rem 1fr;
  gap: 0;

  background: var(--c-panel-bg);
  border: 01px solid var(--c-panel-bd);
  border-radius: var(--bd-radius);

  &Sidebar,
  &Content {
    padding: var(--gap-lg);
  }

  &Sidebar {
    display: grid;
    align-content: start;
    border-right: inherit;
  }

  &Image {
    position: relative;
    height: auto;
    width: auto;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;

    outline: 0.2rem solid var(--c-orange);
    outline-offset: 0.5rem;

    & > img {
      object-fit: cover;
    }
  }

  &Content {
    display: grid;
    gap: var(--gap-lg);
    padding: $padding;
  }

  &Data {
    border: 01px solid var(--c-panel-bd);
    border-radius: 22rem;
    padding: 0.5rem var(--gap-md);

    display: flex;
    justify-content: space-between;

    &Left {
      font-weight: var(--font-weight-bold);
      color: var(--txt-title);
    }

    &Right {
    }
  }

  &Signout {
    justify-self: flex-end;
  }

  @include respond(500px) {
    grid-template-columns: 1fr;

    &Sidebar {
      border: none;
      border-bottom: inherit;

      justify-content: center;
    }

    &Image {
      width: 20rem;
    }

    &Content {
      & > :global(.header) {
        text-align: center;
      }
    }

    &Signout {
      width: 100%;
    }
  }
}
