$padding: var(--gap-lg);

section.AccountSection {
}

.Account {
  display: grid;
  grid-template-columns: 17.5rem 1fr;
  gap: 0;

  background: var(--c-panel-bg);
  border: 0.1rem solid var(--c-panel-bd);
  border-radius: var(--bd-radius);

  &Sidebar,
  &Content {
    padding: var(--gap-lg);
  }

  &Sidebar {
    display: grid;
    align-content: start;
    border-right: inherit;
  }

  &Image {
    position: relative;
    height: auto;
    width: auto;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;

    outline: 0.2rem solid var(--c-orange);
    outline-offset: 0.5rem;

    & > img {
      object-fit: cover;
    }
  }

  &Content {
    display: grid;
    gap: var(--gap-lg);
    padding: $padding;
  }

  &Data {
    border: 0.1rem solid var(--c-panel-bd);
    border-radius: 22rem;
    padding: 0.5rem var(--gap-md);

    display: flex;
    justify-content: space-between;

    &Left {
      font-weight: var(--font-weight-bold);
      color: var(--txt-title);
    }

    &Right {
    }
  }

  &Signout {
    justify-self: left;
  }
}

.Picture {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 100%;
  position: relative;
  overflow: hidden;

  &:hover > &Image,
  &:focus-within > &Image {
    scale: 1.05;
  }

  &:hover > &Label,
  &:focus-within > &Label {
    opacity: 1;
  }

  &Image {
    object-fit: cover;

    transition: scale 0.2s ease;
  }

  &Input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    opacity: 0;
    z-index: 3;
    scale: 1;
  }

  &Label {
    transition: opacity 0.2s ease;

    scale: 1;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 22rem;
    background-color: rgba(black, 0.15);

    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1.75rem;
  }
}

.Signout {
  // max-width: 30rem;
  // width: 100%;

  display: grid;
  // justify-self: center;
  justify-self: start;
}
