@import "@/sass/abstracts/mixins";

.Login {
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  width: 50rem;
  height: auto;
  aspect-ratio: 1;
  background-image: radial-gradient(circle at 25% -25%, #0c0b0e 50%, #0b0031 85%);
  border-radius: var(--bd-radius);
  border: 0.2rem solid rgba(var(--c-orange-rgb), 0.25);
  box-shadow: 0 -3rem 7rem -6rem var(--c-orange), 0 3rem 7rem -6rem var(--c-orange);
  padding: var(--gap-xl);

  display: grid;
  gap: var(--gap-md);
  grid-template-rows: auto 1fr auto auto;
  align-items: center;

  &:hover,
  &:focus {
    box-shadow: 0 -3.5rem 7rem -6rem var(--c-orange), 0 3.5rem 7rem -6rem var(--c-orange);
    border-color: rgba(var(--c-orange-rgb), 0.4);
  }

  &Header {
    display: flex;
    justify-content: space-between;
  }

  &Exit:nth-of-type(1) {
    font-size: 3rem !important;
  }

  & > :global(.paragraph) {
    justify-self: center;
    align-self: end;
  }

  &Button {
    & > svg {
      position: absolute;
      width: 2rem;
      height: 2rem;
      left: var(--gap-sm);
      top: 50%;
      translate: 0 -50%;
    }
  }

  @include respond(450px) {
    width: calc(100vw - 2 * var(--gap-lg));
    padding: var(--gap-lg);
  }
}
