@import "@/sass/abstracts/mixins";

.LectureContent {
  min-height: 100vh;

  display: grid;
  align-content: start;

  &Header {
    position: relative;
  }

  &Error {
    margin-top: var(--gap-lg);
  }

  @include respond(700px) {
    width: 100%;
    padding: 0;
    grid-row: 1 / span 1;
  }
}

.Lecture {
  display: grid;
  gap: var(--gap-sm);
}
