.LectureContent {
  padding: var(--gap-lg);
  min-height: 100vh;

  display: grid;
  align-content: start;
  gap: var(--gap-lg);

  &Header {
    position: relative;
  }
}

.Lecture {
  display: grid;
  gap: var(--gap-sm);
}
