@import "@/sass/abstracts/mixins";

section.LectureSection {
  display: grid;
  grid-template-columns: var(--length-sidebar-max) 1fr;
  padding: 0;

  width: 100%;
  max-width: 160rem;
  margin: 0 auto;

  gap: var(--gap-lg);
  padding: var(--gap-lg);
  position: relative;

  @include respond(700px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 10rem var(--gap-lg);
  }
}
