a.Lecture,
a.Lecture:link,
a.Lecture:visited {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--gap-sm);
  color: var(--txt-text);
  font-size: 1.6rem;
  padding: 0;

  cursor: pointer;

  &.complete &Icon {
    background-color: var(--c-blue-light);
  }

  &.active {
    color: var(--c-orange);
    font-weight: var(--font-weight-bold);
  }

  &Icon {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    border: 0.3rem solid rgba(var(--c-blue-light-rgb), 0.5);
  }

  &Input {
    // display: none;
  }

  &Name {
  }
}
