section.CollectionSection {
  padding: 0;
  gap: var(--gap-sm);
}

.Collection {
  &Header {
    display: flex;
    justify-content: space-between;
  }

  &Actions {
    display: flex;
    gap: var(--gap-sm);
  }

  &Content {
    display: grid;
  }
}
