@import "@/sass/abstracts/mixins";

.Course {
  background: transparent;
  padding: 0;
  aspect-ratio: 1;
  border-radius: var(--bd-radius);
  border: 0.1rem solid rgba(var(--c-orange-rgb), 0.4);
  overflow: hidden;

  display: grid;

  transition: box-shadow 0.5s ease;

  &:hover,
  &:focus-visible {
    box-shadow: 0 2rem 4.5rem -4rem var(--c-orange), 0 -2rem 4.5rem -4rem var(--c-orange);
  }

  &.unreleased {
    opacity: 0.5;
    pointer-events: none;
  }

  &.unreleased &Unreleased {
    display: block;
  }

  &Container {
    display: grid;
    grid-template-rows: 1fr auto;
  }

  &Header {
    display: grid;
    align-items: end;

    position: relative;
    padding: var(--gap-md);

    & img {
      object-fit: cover;
    }
  }

  &Unreleased {
    display: none;
    right: var(--gap-md);
    top: var(--gap-md);
    padding: 0.5rem 1rem;
    border-radius: 22rem;
    font-size: 1.25rem;
    opacity: 0.75;

    @include shiny("orange", 22rem);
    position: absolute;
  }

  &Image {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-image: linear-gradient(to top, rgba(var(--c-orange-rgb), 0.5), transparent);
    }
  }

  &Content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

    padding: var(--gap-md);
    gap: var(--gap-md);
    overflow: hidden;
    position: relative;
    border-top: none;

    &::before {
      content: "";
      pointer-events: none;
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;

      background-image: radial-gradient(circle at 30% -7rem, rgba(var(--c-orange-rgb), 0.25) 25%, transparent 75%);
    }
  }

  &Info {
    line-height: 1;
    display: grid;
    justify-items: center;
  }

  &Count {
    font-weight: var(--font-weight-bold);
    font-size: 3.5rem;
  }

  &Button {
    width: 6rem;
    height: 6rem;

    & > * {
      font-size: 3rem;
    }
  }

  @include respond(350px) {
    width: 100%;
    height: auto;
  }
}

.Course > .CourseContainer > .CourseContent > button {
  border-radius: 100%;
}

.Title {
  position: relative;

  &Name {
    text-transform: capitalize;
  }

  &Subject {
    display: grid;
    grid-template-rows: 0fr;
    color: var(--txt-text);
  }
}
