@import "@/sass/abstracts/mixins";

.Course {
  background: transparent;
  padding: 0;
  width: 30rem;
  height: 30rem;

  display: grid;

  &.unreleased {
    opacity: 0.5;
    pointer-events: none;
  }

  &.unreleased &Unreleased {
    display: block;
  }

  &Container {
    display: grid;
    grid-template-rows: 1fr auto;
  }

  &Header {
    display: grid;
    align-items: end;

    border-radius: var(--bd-radius) var(--bd-radius) 0 0;
    overflow: hidden;
    position: relative;
    padding: var(--gap-md);

    & img {
      object-fit: cover;
    }
  }

  &Unreleased {
    display: none;
    right: var(--gap-md);
    top: var(--gap-md);
    padding: 0.5rem 1rem;
    border-radius: 22rem;
    font-size: 1.25rem;
    opacity: 0.75;
  }

  &--orange &Unreleased {
    @include shiny("orange", 22rem);
    position: absolute;
  }

  &--green &Unreleased {
    @include shiny("green", 22rem);
    position: absolute;
  }

  &--red &Unreleased {
    @include shiny("red", 22rem);
    position: absolute;
  }

  &--blue &Unreleased {
    @include shiny("blue", 22rem);
    position: absolute;
  }

  &Name {
    position: relative;
  }

  &Image {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &--orange &Image::after {
    background-image: linear-gradient(
      to top,
      rgba(var(--c-orange-rgb), 0.5),
      transparent
    );
  }

  &--green &Image::after {
    background-image: linear-gradient(
      to top,
      rgba(var(--c-green-rgb), 0.5),
      transparent
    );
  }

  &--red &Image::after {
    background-image: linear-gradient(
      to top,
      rgba(var(--c-red-rgb), 0.5),
      transparent
    );
  }

  &--blue &Image::after {
    background-image: linear-gradient(
      to top,
      rgba(var(--c-blue-rgb), 0.5),
      transparent
    );
  }

  &Content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

    padding: var(--gap-md);
    gap: var(--gap-md);
    overflow: hidden;
    position: relative;
    border: 0.1rem solid transparent;
    border-top: none;
    border-radius: 0 0 var(--bd-radius) var(--bd-radius);
    overflow: hidden;

    &::before {
      content: "";
      pointer-events: none;
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }

  &--orange &Content {
    border-color: rgba(var(--c-orange-rgb), 0.5);

    &::before {
      background-image: radial-gradient(
        circle at 30% -7rem,
        rgba(var(--c-orange-rgb), 0.25) 25%,
        transparent 75%
      );
    }
  }

  &--green &Content {
    border-color: rgba(var(--c-green-rgb), 0.5);

    &::before {
      background-image: radial-gradient(
        circle at 30% -7rem,
        rgba(var(--c-green-rgb), 0.25) 25%,
        transparent 75%
      );
    }
  }

  &--red &Content {
    border-color: rgba(var(--c-red-rgb), 0.5);

    &::before {
      background-image: radial-gradient(
        circle at 30% -7rem,
        rgba(var(--c-red-rgb), 0.25) 25%,
        transparent 75%
      );
    }
  }

  &--blue &Content {
    border-color: rgba(var(--c-blue-light-rgb), 0.5);

    &::before {
      background-image: radial-gradient(
        circle at 30% -7rem,
        rgba(var(--c-blue-light-rgb), 0.25) 25%,
        transparent 75%
      );
    }
  }

  &Info {
    line-height: 1;
    display: grid;
    justify-items: center;
  }

  &Count {
    font-weight: var(--font-weight-bold);
    font-size: 3.5rem;
  }

  &Button {
    & > * {
      font-size: 3.5rem;
    }
  }
}
