.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &Add {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2rem;
  }
}

.Container {
  display: grid;
  gap: var(--gap-sm);
}

.Table {
  &Row {
    border: 0.1rem solid var(--c-panel-bd);
    border-top: none;

    &:not(:last-child) {
      border-bottom: 0.1rem solid var(--c-panel-bd);
    }

    &:last-child {
      border-radius: 0 0 var(--bd-radius) var(--bd-radius);
    }
  }

  &RowHeader {
    background-color: var(--c-panel-bg);
    border: 0.1rem solid var(--c-panel-bd);
    border-radius: var(--bd-radius) var(--bd-radius) 0 0;
  }

  &End {
    justify-content: end;
    overflow: visible !important;
  }
}
