@import "@/sass/abstracts/mixins";

.Table {
  display: grid;
  border-radius: var(--bd-radius);
  border: 1px solid var(--c-panel-bd);
  font-weight: var(--font-weight-normal-bold);
  max-width: 100%;
  overflow: auto;

  & > *:not(:last-child) {
    border-bottom: inherit;
  }

  &Header {
    background-color: var(--c-panel-bg);
    overflow: hidden;
    border-radius: var(--bd-radius) var(--bd-radius) 0 0;
    font-weight: var(--font-weight-bold);
  }

  &Header,
  &Row {
    display: grid;
    align-items: center;
    gap: var(--gap-md);

    & > * {
      grid-row: 1 / span 1;
    }
  }

  &Row {
    transition: background 0.2s ease, color 0.2s ease;

    &:last-child {
      border-radius: 0 0 var(--bd-radius) var(--bd-radius);
    }

    &:hover,
    &:focus-visible {
      background-color: rgba(white, 0.025);
      color: var(--c-orange);
    }
  }

  &Cell {
    display: grid;
    padding: var(--gap-sm) var(--gap-md);
  }

  &Scroll {
    overflow: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    &Inner {
      white-space: nowrap;
      display: inline-block;
    }
  }

  &Link {
  }

  &Header {
    color: var(--txt-title);
  }

  &End {
    overflow: visible;
  }

  &Skeleton {
    position: relative;

    & .Table {
      opacity: 0;
    }

    &Loader {
      position: absolute;
      top: 0;
      left: 50%;
      translate: -50%;
    }
  }
}

.SolidTable {
  position: relative;
  overflow: hidden;

  &Skeleton {
    pointer-events: none;
    opacity: 0;
  }

  &Content {
    position: absolute;
    width: 100%;
    max-height: 100%;
    top: 0;
    left: 50%;
    translate: -50%;
  }
}

.Controls {
  display: flex;
  gap: var(--gap-sm);
}

.Controls > button.ControlsButton {
  padding: 0;
  width: 2.75rem;
  height: 2.75rem;
}

button.ButtonRounded.ButtonRounded {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  align-items: center;
  justify-items: center;

  & > svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

button.Button {
  height: 2.75rem;
  padding: 0;
  align-items: center;
  justify-items: center;
}
