.NavProfile {
  position: relative;

  &Button {
    transition: scale 0.2s ease;

    display: block;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    outline: 0.2rem solid rgba(var(--c-orange-rgb), 1);
    outline-offset: 0.2rem;

    &:hover,
    &:focus {
      scale: 1.05;
    }
  }

  &Subscribed {
    border: 01px solid var(--c-orange);
    border-radius: 22rem;
    padding: 0.2rem 0.75rem;
    background: var(--bg-flat);
    font-size: 0.9rem;
    text-transform: uppercase;
    color: var(--c-orange);

    position: absolute;
    left: 50%;
    top: 100%;
    translate: -50% -50%;
    pointer-events: none;
  }
}
