.Background {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  pointer-events: none;

  &--main {
    background-image: var(--bg-main);
  }

  &--flat {
    background-color: var(--bg-flat);
  }
}
