@import "@/sass/abstracts/mixins";

.Overview {
  $max-width: 50rem;

  padding: var(--gap-lg);

  display: grid;
  justify-items: center;
  align-content: start;
  gap: var(--gap-lg);

  & > :global(.paragraph) {
    max-width: $max-width;
  }

  &Title {
    & > :global(.header-card) {
      color: var(--txt-text);
    }
  }

  &Image {
    max-width: $max-width;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    position: relative;
    border-radius: var(--bd-radius);
    overflow: hidden;
    border: 1px solid var(--c-panel-bd);

    & > img {
      object-fit: cover;
      object-position: center;
    }
  }

  .Content {
    $padding: var(--gap-md) var(--gap-lg);
    $border: 1px solid var(--c-panel-bd);

    max-width: $max-width;
    width: 100%;

    display: grid;

    border-radius: var(--bd-radius);
    border: $border;

    &Header {
      padding: $padding;
      border-bottom: $border;
    }

    &Intro,
    &Chapters {
      list-style: none;
      display: grid;
      gap: inherit;
    }

    &Intro:not(:last-child) {
      border-bottom: $border;
    }

    &IntroItem {
      & > a {
        padding: 0;
      }
    }

    &IntroItem,
    &Chapter {
      display: grid;
      gap: var(--gap-sm);
      padding: $padding;

      &:not(:last-child) {
        border-bottom: $border;
      }
    }

    &Lectures {
      list-style: none;

      display: grid;
      gap: inherit;
    }

    &Lecture {
      display: grid;
      & > a {
        padding: 0;
      }
    }
  }

  @include respond(900px) {
    padding: 0;
  }
}
