.Subject {
  display: grid;

  border-radius: var(--bd-radius);
  border: 1px solid var(--c-panel-bd);
  background: var(--c-panel-bg);

  &Header {
    padding: var(--gap-md) var(--gap-lg);
    border-bottom: inherit;
  }

  &Title {
    justify-self: start;
  }

  &--orange &Title {
    filter: drop-shadow(0 0 2rem var(--c-orange));
    color: var(--c-orange);
  }

  &--green &Title {
    filter: drop-shadow(0 0 2rem var(--c-green));
    color: var(--c-green);
  }

  &--red &Title {
    filter: drop-shadow(0 0 2rem var(--c-red));
    color: var(--c-red);
  }

  &--blue &Title {
    filter: drop-shadow(0 0 2rem var(--c-blue-light));
    color: var(--c-blue-light);
  }

  &Container {
    overflow-x: auto;
    padding: var(--gap-lg);
  }

  &Courses {
    display: flex;
    white-space: nowrap;
    width: max-content;
    gap: var(--gap-lg);
  }
}
