section.CoursesSection {
  align-content: start;
  padding: var(--gap-lg);

  & > :global(.header) {
    justify-self: center;
  }
}

.Subjects {
  display: grid;
  gap: var(--gap-lg);
}

.Courses {
  display: grid;
  gap: var(--gap-lg);
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
}
