@import "@/sass/abstracts/mixins";

.Sidebar {
  display: grid;

  max-height: calc(100vh - 2 * var(--gap-lg));
  position: sticky;
  top: var(--gap-lg);
  background: var(--c-panel-bg);
  border: 0.1rem solid var(--c-panel-bd);
  border-radius: var(--bd-radius);
  z-index: 3;

  &Controls {
    display: grid;
    justify-content: end;
    position: fixed;
    bottom: var(--gap-lg);
    right: var(--gap-lg);
  }

  &Header {
    padding: var(--gap-md) var(--gap-lg);
    border-bottom: 0.1rem solid var(--c-panel-bd);

    display: flex;
    gap: var(--gap-lg);
    justify-content: space-between;

    & > :global(.header) {
      text-align: center;
    }
  }

  &Container {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;

    & > * {
      padding: var(--gap-md) var(--gap-lg);
    }
  }

  &Content {
    display: grid;
    overflow: auto;
    gap: var(--gap-md);

    align-content: start;
  }

  &Intro {
    position: relative;
  }

  &Chapters {
    display: grid;
    gap: inherit;
  }

  &Nav {
    border-top: 0.1rem solid var(--c-panel-bd);

    display: flex;
    justify-content: space-between;
  }

  &NavButton {
    & > svg {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  & > .SidebarContainer > .SidebarNav > .SidebarNavButton,
  & > .SidebarContainer > .SidebarNav > .SidebarNavButton:link,
  & > .SidebarContainer > .SidebarNav > .SidebarNavButton:visited {
    padding: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
  }

  @include respond(700px) {
    position: static;
    background-color: transparent;
    border: none;

    &.expanded &Container {
      display: grid;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--c-panel-bg);
      backdrop-filter: blur(10px);
    }

    &Container {
      display: none;
    }

    &Header {
      & > :global(.header) {
        text-align: left;
      }
    }
  }

  @include respond(700px, false) {
    &Controls {
      display: none;
    }
  }
}

.Sidebar > .SidebarControls > button {
  padding: var(--gap-md);
  background: var(--c-panel-bg);
  border: 0.1rem solid var(--c-panel-bd);
  border-radius: 100%;
  backdrop-filter: blur(10px);

  @include respond(500px) {
    padding: var(--gap-sm);
  }
}

.Sidebar > .SidebarContainer > .SidebarHeader > button {
  display: none;

  @include respond(700px) {
    display: flex;
  }
}

.Intro {
  display: grid;
  gap: var(--gap-sm);

  list-style: none;
  padding-inline-start: 0;

  &Item {
  }
}

.Chapters {
  display: grid;
  gap: inherit;
}
