.Sidebar {
  background-color: var(--c-panel-bg);
  border: 0.1rem solid var(--c-panel-bd);
  border-radius: var(--bd-radius);
  height: calc(100vh - 2 * var(--gap-lg));

  display: grid;
  align-content: start;

  & > *:not(:last-child) {
    border-bottom: inherit;
  }

  &Header {
    padding: var(--gap-md) var(--gap-lg);
  }

  &Content {
    padding: var(--gap-md) 0;
  }
}

.List {
  display: grid;
  list-style: none;
}

.Item {
  display: grid;
}

.Link {
  padding: var(--gap-sm) var(--gap-lg);
  border-radius: 0;
  text-align: start;

  transition: background 0.2s ease;

  &:hover,
  &:focus {
    background: rgba(var(--c-orange-rgb), 0.05);
  }
}
