$padding: var(--gap-md);

.Accordion {
  border-radius: 2rem;
  list-style: none;
  transition: max-height 0.5s ease;
  border-collapse: collapse;

  border: 0.1rem solid var(--c-panel-bd);
  border-radius: var(--bd-radius);
  overflow: hidden;
}

.Item {
  background-color: var(--c-panel-bg);
  display: grid;

  &:not(:last-child) {
    border-bottom: inherit;
  }

  &.selected & {
    &Content {
      grid-template-rows: 1fr;
    }

    &Overflow {
      opacity: 1;
    }
  }

  &Button {
    cursor: pointer;
    padding: $padding;
    font-weight: var(--font-weight-bold);
    text-align: start;
    border: none;
    background: transparent;
  }

  &Title {
    text-transform: lowercase;
  }

  &Reveal {
    margin-top: var();
  }

  &Content {
    padding: $padding;
    padding-top: 0;
  }
}
