@import "@/sass/abstracts/mixins";

.Header {
  $margin-bottom: 40vh;

  display: grid;
  align-items: center;
  height: 120vh;
  position: relative;
  margin-bottom: -$margin-bottom;

  &Grid,
  &Gradient {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &Grid {
    background-image: url("/images/app/grid-background.svg");
    background-size: 40rem;
    opacity: 0.05;
    mask-image: radial-gradient(circle at 50% 0%, rgba(255, 255, 255, 1) 0%, transparent 90%);
  }

  &Content {
    display: grid;
    justify-items: center;
    align-content: center;
    padding: var(--gap-lg);
    gap: var(--gap-lg);
    margin-bottom: $margin-bottom;

    & > :global(.paragraph) {
      max-width: 40rem;
      text-align: center;
    }
  }

  &Title {
    display: grid;
    position: relative;
    text-align: center;

    & > *:first-child {
      -webkit-text-stroke: 0.05rem var(--c-orange);
    }

    & > *:last-child {
      -webkit-text-stroke: 0.05rem white;
    }

    & > * {
      display: block;
    }
  }
}
