.Input {
  $padding-left: 1.5rem;
  $padding-top: 0.75rem;

  display: grid;

  position: relative;

  transition: 0.2s ease box-shadow;

  & > input,
  & > select {
    background: transparent;
    border: none;
    padding: $padding-top $padding-left;
    outline: none;
    border-radius: 22rem;

    &::placeholder {
      color: transparent;
    }
  }

  &Outline {
    & > label {
      position: absolute;
      left: $padding-left;
      top: $padding-top;
      pointer-events: none;
      opacity: 1;

      // transition: opacity 0.2s ease;
    }

    & > input {
      border: 0.2rem solid var(--c-panel-bd);

      transition: border 0.2s ease;

      &:focus-visible,
      &:focus-visible:not(:placeholder-shown) {
        border-color: rgba(var(--c-orange-rgb), 0.75);
      }

      &:not(:placeholder-shown) {
        border-color: rgba(white, 0.25);
      }
    }

    & > input:not(:placeholder-shown) + label {
      opacity: 0;
    }

    &.invalid > input {
      border-color: rgba(var(--c-red-rgb), 0.75);
    }
  }

  &Stack {
    & > label {
      padding-left: $padding-left;
      grid-row: 1 / span 1;
    }

    & > input {
      border: 0.2rem solid var(--c-panel-bd);

      transition: border 0.2s ease;

      &:focus-visible,
      &:focus-visible:not(:placeholder-shown) {
        border-color: rgba(var(--c-orange-rgb), 0.75);
      }

      &:not(:placeholder-shown) {
        border-color: rgba(white, 0.25);
      }
    }

    & > .error {
      padding-left: $padding-left;
      color: var(--c-red);
    }
  }
}
