.Input {
  position: relative;
  outline: none;

  overflow: hidden;
  border-radius: 22rem;
  display: grid;

  transition: 0.2s ease box-shadow;

  $padding-top: 0.75rem;
  $padding-left: 1.5rem;

  &:focus-visible > input {
    outline: 0;
    border-color: rgba(white, 0.25);
  }

  &:focus-visible > label {
    outline: 0;
  }

  & > input {
    transition: border 0.2s ease;

    padding: $padding-top $padding-left;
    border-radius: 22rem;
    border: 0.1rem solid var(--c-panel-bd);

    &:not(:placeholder-shown) {
      border-color: rgba(white, 0.25);
    }

    &:not(:placeholder-shown) + label {
      opacity: 0;
    }

    &::placeholder {
      color: transparent;
    }
  }

  & > label {
    transition: opacity 0.2s ease;

    opacity: 1;
    position: absolute;
    left: $padding-left;
    top: 50%;
    translate: 0 -50%;
    pointer-events: none;
  }

  &.invalid {
  }

  &Transparent {
    & > input {
      background: transparent;
    }
  }

  &Panel {
    & > input {
      background: var(--c-panel-bg);
    }
  }
}
