@import "@/sass/abstracts/mixins";

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  gap: var(--gap-lg);
  padding: var(--gap-md) var(--gap-lg);
  z-index: 2;

  &.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &Header {
    display: flex;
    gap: inherit;
    align-items: center;
    z-index: 2;
  }

  &Logo {
    justify-self: flex-start;
  }

  &LogoImage {
    height: 6.5rem;
    width: 6.5rem;
    position: relative;

    & > img {
      object-fit: contain;
    }
  }

  &Title {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    flex: 1;
    color: var(--txt-title);
  }

  &Backdrop {
    display: none;
  }

  &Links {
    display: flex;
    gap: var(--gap-lg);
    align-items: center;

    background: transparent;
  }

  &List {
    display: flex;
    gap: var(--gap-lg);
    list-style: none;
  }

  &ListItem {
  }

  &Profile {
  }

  &Expand {
    & > svg {
      width: 4rem;
      height: 4rem;
    }
  }

  @include respond(700px) {
    &Logo {
      flex: 1;
    }

    &Title {
      display: none;
    }
  }

  @include respond(500px) {
    display: grid;
    justify-content: unset;
    gap: 0;

    position: relative;
    top: 0;
    width: 100%;
    background-color: var(--c-panel-bg);
    padding: 0;

    &.expanded &Links {
      opacity: 1;
      visibility: visible;
      backdrop-filter: blur(10px);
    }

    &.expanded &Header {
      border-bottom-color: transparent;
    }

    &.expanded &Backdrop {
      display: block;
    }

    &Header {
      gap: var(--gap-lg);
      border-bottom: 01px solid var(--c-panel-bd);
      padding: var(--gap-md) var(--gap-lg);

      transition: border-bottom 0.3s ease-in-out;
    }

    &Logo {
      flex: unset;
    }

    &Title {
      display: unset;
    }

    &Backdrop {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
    }

    &Links {
      display: grid;
      top: 100%;
      position: absolute;
      width: 100%;
      background-color: var(--c-panel-bg);
      border-top: 01px solid var(--c-panel-bd);
      border-bottom: 01px solid var(--c-panel-bd);

      opacity: 0;
      visibility: hidden;

      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
    }

    &List {
      display: grid;
      gap: 0;
    }

    &Profile {
      grid-row: 1 / span 1;

      padding: var(--gap-md) var(--gap-lg);
      border-bottom: 01px solid var(--c-panel-bd);
      width: 100%;

      display: grid;
      justify-content: center;
    }

    & > .NavLinks > .NavList > .NavListItem > a {
      padding: 1.5rem;
    }
  }

  @include respond(500px, false) {
    &Expand {
      display: none;
    }
  }

  @include respond(350px) {
    &Logo {
      flex: 1;
    }

    &Title {
      display: none;
    }
  }
}
