@import "@/sass/abstracts/mixins";

section.SolutionSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.SolutionSection {
  // background-color: var(--bg-flat-l);
  &Content {
  }

  &Image {
    justify-self: center;
    align-self: center;
    width: 80%;
    height: auto;
    aspect-ratio: 1;
    position: relative;
  }
}

.Content {
  display: grid;
  gap: var(--gap-lg);

  &List {
    list-style: none;

    display: grid;
    gap: var(--gap-md);
  }

  &ListItem {
  }

  &Button {
    justify-self: start;
  }
}

.Image {
}

.Reason {
  position: relative;

  &Container {
    backdrop-filter: blur(100px);
    border-radius: var(--bd-radius);
    border: 0.1rem solid var(--c-panel-bd);
    background: var(--c-panel-bg);

    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  &Content {
    display: grid;
    gap: var(--gap-sm);
    padding: var(--gap-md);

    & > :global(.ul) {
      list-style: disc;
    }
  }

  &Icon {
    font-size: 3.5rem;
    color: var(--c-green);
    line-height: 1;
    filter: drop-shadow(0 0.5rem 1rem var(--c-green));
    height: 100%;

    display: grid;
    align-items: center;

    padding: var(--gap-md);
    border-right: inherit;
  }
}
